#root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

* {
  margin: 0;
  padding: 0;
}

/* background: linear-gradient(to top, #3204fdba, #9907facc), url(https://picsum.photos/1280/853/?random=1) no-repeat top center; */
body {
   
  /* background-image: url("./pages/DashboardPage/background.png"); */
  background: linear-gradient(to top, #0f1130c2, #0f1130c2), url("./pages/DashboardPage/background.png");
  background-size: cover;
  margin: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden; 
}

/* background-color: #0f1130;  */


.dashboard {
  color: rgb(255, 194, 247)
}

.dashboard-img img, .dashboard-btns-row2 img {
  width: 100%;
  height: 38%;
}



.overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 70px;
  font-family: "Press Start 2p";
  color: rgb(255, 194, 247); /* Text color */
  font-weight: bold; /* Optional: Adjust font weight as needed */
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.5),
               0 0 20px rgba(255, 255, 255, 0.5),
               0 0 30px rgba(255, 255, 255, 0.5);
  -webkit-text-stroke: 1px rgb(255, 0, 119); /* Outline width and color */
  
}




.dashboard-btns {
  width: 100%;
  height: 80%;
}

.dashboard-btns-row2 {
  width: 100%;
  height: 80%;
}


.dashboard-btns:hover, .dashboard-btns-row2:hover {
  transform: scale(1.1);
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
}







.login-title img{
  width: 35%;
  height: auto;
}


.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 7%;
}

.login-form input{
  border: none;
  outline: none;
  background: transparent;
  border-bottom: 1.5px solid rgb(185, 185, 185);
  padding: 10px;
}

.login-form input:focus{
  border-bottom: 2px solid #ffffff;
}

.username-text, .password-text, .name-text {
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 20px;
  font-family: "Press Start 2p";
}

.password-text {
  margin-top: 30px;
}

.name-text {
  margin-bottom: 20px;
}

.username-text::placeholder, .password-text::placeholder, .name-text::placeholder {
  color: white;
}



.dashboard2 {
  margin-top: 7%;
}

.login-page {
  margin-top: 4%;
}


.sign-in-btn img{
  width: 100%;
}


.about {
  text-align: end;
  color: rgb(255, 194, 247);
  font-family: "Press Start 2p";
  font-size: 40px;
  margin-top: 5px;
  margin-right: 10px;
  margin-bottom: 0;
  -webkit-text-stroke: 1px rgb(255, 0, 119);
  position: relative;
  cursor: pointer;
  user-select: none;
}


.push-left {
  transform: translateX(-100%);
}


#all-dash-btns {
  transition: transform 0.6s ease;
}

.about-box {
  transform: translateX(100%);
  top: 3%;
  left: 23%;
  height: 200px;
  width: 1000px;
}

.about-box img {
  height: 190%;
  width: 600px;
}


.about:hover {
  color: rgb(255, 104, 235);
}


.about-1 {
  background: linear-gradient(to top, #0f11307a, #0f11307a), url("./pages/DashboardPage/stars.png");
  background-size: cover;
  height: 250px;
  width: 1000px;
  border: solid 3px #e600a4;
  border-radius: 15px;
  font-family: "Press Start 2p";
}

.about-2 {
  background: linear-gradient(to top, #0f11307a, #0f11307a), url("./pages/DashboardPage/stars.png");
  background-size: cover;
  height: 230px;
  width: 1000px;
  border: solid 3px #d40098;
  border-radius: 15px;
  margin-top: 5%;
  font-family: "Press Start 2p";
  
}

.hr-about {
  background-color: #d40098;
  padding: 1px;
}

.about-gap {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 0;
  color: #00d9ff;
  font-size: 20px;
  -webkit-text-stroke: 1px rgb(255, 0, 119);
}

.about-title-animation {
  animation: backInLeft;
  animation-duration: 0.8s;
}