body, html {
  margin: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden; /* Hide horizontal overflow */
}

#root {
  margin: 0;
  height: 100%;
  width: 100%;
}

.app-container {
  display: flex;
  border: solid 1px white;
  width: 100%;
  position: relative;
  min-height: 100vh;
}

.left-section {
  flex: 1;
  border: solid 1px white;
  background-image: url('../../assets/lab.png');
  background-size: cover;
  background-position: center;
  width: 100%;
}

.middle-section {
  border: solid 1px white;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
}

.top-container {
  /* Add styles for the container at the top */
}

.bottom-container {
  width: 100%; /* Ensure it takes up the full width of the middle-section */
}

.right-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: solid 1px white;
  width: 100%;
}


.character-info {
  border: solid 1px white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
  
.lives-remaining-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.user-input {
  width: 100%;
  height: 30px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Responsive Styles */
@media only screen and (max-width: 768px) {
  .app-container {
    flex-direction: column;
    height: 100vh;
  }

  .left-section {
    flex: 1;
    border: solid 1px white;
    background-image: url('../../assets/lab.png');
    background-size: cover;
    background-position: center;
    width: 100%;
  }

  .middle-section,
  .right-section {
    flex: 1;
    width: 100%;
  }
}
.inventoryItem {
  border: solid 1px white;
  width:100px;
  height:100px;
}
span {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.speechToText {
  border: solid 1px white;
  display: flex;
  justify-content: center;
  align-items: center;
  width:80px;
}
.speechToTextIcon {
  width:60px;
  height:30px;
}
.settingsBar {
  display: flex;
  justify-content: left;
  align-items: left;
}
.settings-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #242424;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;;
}
.characterImg{
  border-radius: 10px;
  width:150px;
  height:170px;
}

