body {
  color: blue;
  align-items: center;
  text-align: center;
}

#main-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 5px solid white; */
  height: 100%;
}

#main-div-2 {
  font-family: 'Press Start 2p';
  -webkit-text-stroke: 1px rgb(255, 0, 119);
  color: rgb(255, 194, 247);
}
.game-container {
  /* border: 5px solid white; */
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  margin: 30px 0px;
  overflow: auto;
}
/* .awards-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 10px;
} */

.game-card {
  /* border: 5px solid white; */
  background-image: linear-gradient(180deg, #7d12ff, pink);
  border-radius: 10px;
  width: 250px;
  height: 330px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.game-card:hover {
  cursor: pointer;
}
/* 
button {
  padding: 30px 60px;
  margin: 100px 10px;
  border-radius: 15px;
} */

.modal-display-none {
  display: none;
}
.modal {
  /* Hidden by default */
  /* display: inline; */
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 1;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  /* overflow: auto; Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  font-family: 'Press Start 2p';
}

.modal-content {
  background-color: #fefefe;
  margin: 5% auto;
  padding: 20px;
  border: 2px solid rgba(87, 25, 25, 0.394),;
  width: 60%; /* Could be more or less, depending on screen size */

  /* height: 80%; */
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  gap: 2rem;
  width: 50vh;
}

#create-btn, #close-btn {
  border: none;
  color: rgb(127, 79, 87);
  width: 300px;
  margin: 150px auto 50px auto;
  padding: 0.5rem, 1rem;
  box-shadow: 0px 5px 5px #ccc;
}

#form {
  width: 1000px;
  height: 150px;
}

.difficulty-btn {
  border: 5px solid black;
}

#new-game-btn,
#continue-btn {
  width: 200px;
  height: 190px;
}

#continue-btn {
  margin-right: 10px;
}
